body {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.background-1 {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 596px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg1.jpg") no-repeat fixed;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.theme {
    position: fixed;
    top: 70px;
    right: 270px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    z-index: 1;
}

.theme svg {
    cursor: pointer;
    padding: 3px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 145px;
    left: calc(50% - 1404px / 2);
    background: #FFFFFF;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    top: 25px;
    left: 0;
}

.header__logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
}

.header__logo span {
    color: #14AFCA;
    text-transform: uppercase;
    font-weight: 500;
}

.header__logo a {
    color: #424F57;
}

.header__menu {
    width: 595px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #3E4C4E;
}

.header__menu li a {
    color: #3E4C4E;
}

.header__menu li a:hover {
    color: #14AFCA;
}

.header__title {
    font-family: 'Roboto';
    font-size: 52px;
    line-height: 75px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    margin: 149px 0 134px 0;
}

.main__title {
    width: 100%;
    margin: 122px 0 19px 0;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.main__title__header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    color: #14AFCA;
    margin-bottom: 15px;
}

.main__title__black {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 40px;
    color: #424F57;
    text-align: center;
}

.main__title__white {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}


.main__text {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
    margin-bottom: 90px;
}

.background-2 {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg2.jpg") no-repeat fixed;
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
    background-size: cover;
}


.maine__picbox {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 225px;
    height: 99px;
    background: #FCFBFB;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.main__picbox__red {
    display: inline-block;
    box-sizing: border-box;
    width: 77px;
}

.main__picbox__adobe {
    display: inline-block;
    box-sizing: border-box;
}

.main__label {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 100px;
    align-items: center;
    height: 100%;
    list-style: none;
}

.list {
    display: flex;
    justify-content: space-around;
}

.wrapper-slider {
    position: relative;
}

.slider {
    margin: 0 120px 128px 120px;
    height: 350px;
    width: 1100px;
    overflow: hidden;
}

.main__our-team {
    width: 3303px;
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.main__our-team__item {
    display: inline-block;
    margin: 0 80px;
}

.btn-prev {
    position: absolute;
    top: 125px;
    left: 50px;
    cursor: pointer;
}

.btn-next {
    position: absolute;
    top: 120px;
    right: 65px;
    cursor: pointer;
}

.main__our-team__text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
    display: block;
}

.background-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg3.jpg") no-repeat fixed;
    clip-path: polygon(100% 0, 100% 82%, 50% 100%, 0 83%, 0 0, 50% 15%);
    background-size: cover;
}

.background3__text {
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #D3CCCC;
}

.background3__text {
    font-family: 'OpenSans';
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    margin-top: 30px;
}

.background3__text__sign {
    font-family: 'OpenSans';
    font-size: 18px;
    font-style: oblique;
    line-height: 24px;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    display: inline-block;
    margin: 28px 320px 143px 900px;
}

.main__innovation {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #424F57;
    margin-bottom: 96px;
}

.footer p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #3D3C3C;
    margin-bottom: 88px;
}

.footer p span {
    font-weight: 700;
}