body {
    background-color: #FFFFFF;
}

.background1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg1.jpg") no-repeat;
}

.theme {
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background: #FFFFFF;
}

.header__logo span {
    color: #14AFCA;
}

.header__logo a {
    color: #424F57;
}

.header__menu {
    color: #3E4C4E;
}

.header__menu li a {
    color: #3E4C4E;
}

.header__menu li a:hover {
    color: #14AFCA;
}

.header__title {
    color: #FFFFFF;
}

.main__title__header {
    color: #14AFCA;
}

.main__title__black {
    color: #424F57;
}

.main__title__white {
    color: #FFFFFF;
}

.main__text {
    color: #424F57;
}

.background2 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg2.jpg") no-repeat;
}


.maine__picbox {
    background: #FCFBFB;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.background3 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg3.jpg") no-repeat;
}

.background3__text {
    color: #D3CCCC;
}

.background3__text {
    color: #D3CCCC;
}

.background3__text__sign {
    color: #FFFFFF;
}

.main__innovation {
    color: #424F57;
}

.footer p {
    color: #3D3C3C;
}

.footer p span {
    font-weight: 700;
}

.change-theme[data-theme="dark"] {
    display: block;
}

.change-theme[data-theme="light"] {
    display: none;
}
