body {
    background-color: black;
}

.background1 {
    background: url("../img/bg1.jpg") no-repeat;
}

.theme {
    background: #429AEE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background: #429AEE;
}

.header__logo span {
    color: darkgoldenrod;
}

.header__logo a {
    color: #FFF;
}

.header__menu {
    color: #FFF;
}

.header__menu li a {
    color: #FFF;
}

.header__menu li a:hover {
    color: darkgoldenrod;
}

.header__title {
    color: #28c7de;
}

.main__title__header {
    color: #5a85b7;
}

.main__title__black {
    color: #fff;
}

.main__title__white {
    color: #fff;
}

.main__text {
    color: #fff;
}

.background2 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg2.jpg") no-repeat;
}


.maine__picbox {
    background: #f7e7e7;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.main__our-team__text {

    color: white;
}

.background3 {
    background: url("../img/bg3.jpg") no-repeat;
}

.background3__text {
    color: #ffffff;
}

.background3__text {
    color: #ffffff;
}

.background3__text__sign {
    color: #ffffff;
}

.main__innovation {
    color: #424F57;
}

.footer p {
    color: #fff;
}

.footer p span {
    font-weight: 700;
}

.btn-prev {
    fill: white;
}

.btn-next {
    fill: white;
}

.change-theme[data-theme="dark"] {
    display: none;
}

.change-theme[data-theme="light"] {
    display: block;
}